


footer{
	background-color:blue;	
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}





.page-title{
  height: 50px;
  width: 400px;
  background-color: blue;
  text-align: center;
  border: 2px solid #000;
  margin: 2rem;
  
}

.gallery {
  margin-top: 20px;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  
}

.gallery figure{
	border: 2px solid #000;
  margin: 20px;
  text-align: center;
  padding: 30px;
  
}
.botons {
	display: inline;
	display:flex;
	justify-content: flex-end;
	position:relative;
	right:50px;
	top: -50px;
}
.nav{
	background-color: blue;
	font-weight: bold;
	color: black;
	
}